@import "_variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
a {
    text-decoration: none;
    text-transform: capitalize;
}
img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.mx-auto {
    margin: 0 auto;
}
/*padding margin*/

@for $i from 1 through 10 {
    .pt-#{$i * 10} {
        padding-top: 10px * 10;
    }

    .pb-#{$i * 10} {
        padding-bottom: 10px * 10;
    }

    .mt-#{$i * 10} {
        margin-top: 10px * 10;
    }
    .mb-#{$i * 10} {
        margin-bottom: 10px * 10;
    }
}
/**background css**/
.bg{
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $black;
        opacity: .65;
        z-index: -1;
    }
}

$align: center,left,right,justify;
@each $i in $align {
    .text-#{$i} {
        text-align: $i;
    }
     
}


/**flex css start**/
$flex: flex, inline-flex;
@each $i in $flex {
    .d-#{$i} {
        display: $i;
    }
     
}

$justify: start, center, end, evenly, space-around, space-between;
@each $i in $justify {
    .justify-content-#{$i}{
        justify-content: $i;
    }
}

$align-items: start, center, end, stretch, baseline;
@each $i in $align-items {
    .align-items-#{$i}{
        align-items: $i;
    }
}
/**flex css End**/